@import 'buttons/manifest'; //import manifest file from buttons folder

// button styling

button {
  font-family: $header-font;
  font-weight: $subhead-font-weight;
  font-size: 1em;
}

button.default-buttons{
  @include button;
  background-color: $salmon;
  color: white;
}

button.default-buttons:hover{
   background-color: darken($salmon, 15%);
}

button.secondary-buttons{
  @include button;
  background-color: $green;
  color: black;
}
button.secondary-buttons:hover{
   background-color: darken($green, 5%);
}

button.dark-buttons{
  @include button;
  background-color: $navy;
  color: white;
}
button:hover.dark-buttons{
   background-color: lighten($navy, 15%);
}

button.more{
      width: 8.4em;
  }

button.like{
      width: 6em;
  }