$magenta: #A61F5C;
$salmon: #D6493B;
$orange: #DB943A;
$yellow: #F2E94E;
$green: #06BC5A;
$teal: #1A7172;
$navy: #1F2058;
$light-gray: #B2B2B3;
$dark-gray: #727273;
$brown: #9d512f;
$main-color: #FFAC6F;

h1{
   color: $magenta;
}

h2{
   color: $teal;
}
p{
   color: $navy;
}

h3, h4, h5, h6{
   color: $salmon;
}

// body{
//    background-color: $main-color;
// }