footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-image: url(/images/texture3.jpg);
   text-align: center;
   width: 100%;

   a{
      margin-left: 3em;
      &:first-child {
         margin-left: 0;
      }
   }
   a:hover{
      color: $magenta;
   }
   .icon-facebook, .icon-twitter, .icon-github, .icon-pinterest{
      margin-left: .4em;
   }
   .icon-facebook:hover, .icon-twitter:hover, .icon-github:hover, .icon-pinterest:hover{
      color: $magenta;
   }
   border-top: 2px solid $orange;
   height: 6em;
   @include media($mobile) {
      flex-direction: column;
      height: 10em;
      a {
         margin-left: 1em;
      }
   }
}