@import "mixins";
$expand-transition: all 0.5s;


// To expand the Jade and Sass links to show the blocks of code
.expanding {
    display:block;
}

.expand-jade-code, .expand-sass-code {
   cursor:pointer;
}

.jade-code, .sass-code{
   overflow:hidden;
   max-height: 50px;
   position:relative;
   -webkit-transition: $expand-transition;
   -moz-transition: $expand-transition;
   transition: $expand-transition;
}


.open {
   -webkit-transition: $expand-transition;
   -moz-transition: $expand-transition;
   transition: $expand-transition;
   max-height:700px;
}

$magenta: #A61F5C;
$salmon: #D6493B;
$orange: #DB943A;
$yellow: #F2E94E;
$green: #06BC5A;
$teal: #1A7172;
$navy: #1F2058;

ul.swatches{
   list-style: none;
}

// code{
//    background-color: #EDE3C9;
//    border: 1px solid #FFC893;
//    border-radius: 3px;
// }

$light-gray: #B2B2B3;
$dark-gray: #727273;

.magenta-swatch{
   @include color-swatch;
   background-color: $magenta;
   color: $light-gray;
}
.salmon-swatch{
   @include color-swatch;
   background-color: $salmon;
   color: $light-gray;
}
.orange-swatch{
   @include color-swatch;
   background-color: $orange;
   color: $dark-gray;
}
.yellow-swatch{
   @include color-swatch;
   background-color: $yellow;
   color: $dark-gray;
}
.green-swatch{
   @include color-swatch;
   background-color: $green;
   color: $dark-gray;
}
.teal-swatch{
   @include color-swatch;
   background-color: $teal;
   color: $light-gray;
}
.navy-swatch{
   @include color-swatch;
   background-color: $navy;
   color: $light-gray;
}

li{
   display: inline-block;
   margin: .4em;
}

// button styling
.default-buttons > button{
  @include button;
  background-color: $salmon;
  color: white;
}

.default-buttons > button:hover{
   background-color: darken($salmon, 15%);
}

.secondary-buttons > button{
  @include button;
  background-color: $green;
  color: black;
}
.secondary-buttons > button:hover{
   background-color: darken($green, 5%);
}

.dark-buttons > button{
  @include button;
  background-color: $navy;
  color: white;
}
.dark-buttons > button:hover{
   background-color: lighten($navy, 15%);
}

button.more{
      width: 8.4em;
  }

button.like{
      width: 6em;
  }

img {
  width: em(300);
}





 // background-color: #F46F80;
 //  /* padding: .8em 3.7em; */
 //  padding: 0.8em;
 //  opacity: 0.7;
 //  border-radius: 0.2em;
 //  border: 1px solid #C60098;
 //  font-size: 1.5em;
 //  margin-left:auto;
 //  margin-right:auto;
 //  margin-bottom: 1.4em;
 //  display: none;