.sub-nav{
   @include span-columns(2);
   position: fixed;
   display: block;
   margin-top: 6em;
   margin-left: 1em;
   border-right: 2px solid $orange;
   a{
      font-family: $subhead-font;
      font-weight: $subhead-font-weight;
      font-size: 1.3em;
      color: $salmon;
      display: block;
   }
}

