
$code-font: "PT Mono";
$header-font: "Raleway";
$header-font-weight: 700;
$header-font-size: 3em;
$subhead-font: "Roboto Slab";
$subhead-font-weight: 700;
$p-font: "Roboto Slab";
$p-font-weight: 300;
$a-font-weight: 500;




code{
   font-family: $code-font;
}

h1{
   font-family: $header-font;
   font-weight: $header-font-weight;
   font-size: $header-font-size;
}
h2{
   font-family: $subhead-font;
   font-weight: $subhead-font-weight;
}
p{
   font-family: $p-font;
   font-weight: $p-font-weight;
}
a{
   font-family: $p-font;
   font-weight: $a-font-weight;
   text-decoration: none;
   color: $teal;
}
h3, h4, h5, h6{
   font-family: $header-font;
   font-weight: $subhead-font-weight;
}

$icons: (icon-mail '/e600') (icon-googleplus '/e601') (icon-facebook '/e602') (icon-twitter '/e603') (icon-feed '/e604') (icon-vimeo '/e605') (icon-flickr '/e606') (icon-dribbble '/e607') (icon-github '/e609') (icon-pinterest '/e60a') (icon-twitter '/e603');

@each $icon in $icons {
  .#{nth($icon, 1)}:after {
    content: nth($icon, 1);
  }
}

<<<<<<< HEAD

//icomoon icon fonts
.icon-mail, .icon-googleplus, .icon-facebook, .icon-twitter, .icon-feed, .icon-vimeo, .icon-flickr, .icon-dribbble, .icon-github, .icon-pinterest{
   margin: .4em;
}

=======
button{
  font-family: $header-font;
  font-weight: $subhead-font-weight;
  font-size: 1em;
}
>>>>>>> 8a4af92ecf158c451ee0ac1573b03714b0823cba
