@import "style-guide/sg-manifest";
@import "bourbon";
@import "neat";
@import "colors";

$expand-transition: all 0.5s;

//grid layout
nav{
   @include span-columns(2.5);
   position: fixed;
}
nav a{
   display: block;
}

main{
   @include span-columns(9.5);
   @include shift(2.5);
}

// To expand the Jade and Sass links to show the blocks of code
.expanding {
    display:block;
}

.expand-jade-code, .expand-sass-code {
   cursor:pointer;
}

.jade-code, .sass-code{
   overflow:hidden;
   max-height: 50px;
   position:relative;
   -webkit-transition: $expand-transition;
   -moz-transition: $expand-transition;
   transition: $expand-transition;
}


.open {
   -webkit-transition: $expand-transition;
   -moz-transition: $expand-transition;
   transition: $expand-transition;
   max-height:700px;
}



ul.swatches{
   list-style: none;
}

// code{
//    background-color: #EDE3C9;
//    border: 1px solid #FFC893;
//    border-radius: 3px;
// }



.magenta-swatch{
   @include color-swatch;
   background-color: $magenta;
   color: $light-gray;
}
.salmon-swatch{
   @include color-swatch;
   background-color: $salmon;
   color: $light-gray;
}
.orange-swatch{
   @include color-swatch;
   background-color: $orange;
   color: $dark-gray;
}
.yellow-swatch{
   @include color-swatch;
   background-color: $yellow;
   color: $dark-gray;
}
.green-swatch{
   @include color-swatch;
   background-color: $green;
   color: $dark-gray;
}
.teal-swatch{
   @include color-swatch;
   background-color: $teal;
   color: $light-gray;
}
.navy-swatch{
   @include color-swatch;
   background-color: $navy;
   color: $light-gray;
}

li{
   display: inline-block;
   margin: .4em;
}

.icon-mail, .icon-googleplus, .icon-facebook, .icon-twitter, .icon-feed, .icon-vimeo, .icon-flickr, .icon-dribbble, .icon-github, .icon-pinterest{
   margin: .4em;
}

// texture images
.texture > img{
   width: 14em;
}