@import "style-guide/sg-manifest";
@import "bourbon";
@import "neat";
@import "colors";
@import "typography";
@import "breakpoints";
@import "SG-nav";

$expand-transition: all 0.5s;


//grid layout- responsive web design for the style guide
#use{
   @include media($mobile) {
      margin-top: 5.1em;
   }
}


main{
   @include media($desktop) {
      @include span-columns(9.5);
      @include shift(2.5);
      h1{
      @include span-columns(9.5 of 9.5);
      }
      article{
         @include span-columns(9.5 of 9.5);
      }
      .expanding{
         @include span-columns(9.5 of 9.5);
      }
      .logo{
         .logo-block{
            display: inline-block;
            vertical-align: top;
         }
      }
      footer{
         margin-top: 7em;
      }
   }
}

//border between the sections
article{
   border-bottom: 2px solid $orange;
}

//style the subnav within the style-guide
// .sub-nav-guide{
//    @include span-columns(2);
//    display: block;
//    padding-left: -2em;
//    border-right: 2px solid $orange;
//    a{
//       font-family: $subhead-font;
//       font-weight: $subhead-font-weight;
//       font-size: 1.3em;
//       color: $salmon;
//       display: block;
//    }
// }

// To expand the Jade and Sass links to show the blocks of code

.expand-code {
   margin-top: em(8);
   border: 3px solid $green;
   background-color: #E5DFDA;
   cursor: pointer;
}

.code{
   overflow:hidden;
   max-height: 30px;
   position:relative;
   -webkit-transition: $expand-transition;
   -moz-transition: $expand-transition;
   transition: $expand-transition;
}
.jade-code, .sass-code{
   width: 48%;
   display: inline-block;
   vertical-align: top;
   margin: em(7);
}


.open {
   -webkit-transition: $expand-transition;
   -moz-transition: $expand-transition;
   transition: $expand-transition;
   max-height:1300px;
}



//styling the color swatches

ul.swatches{
   list-style: none;
}



.magenta-swatch{
   @include color-swatch;
   background-color: $magenta;
   color: $light-gray;
}
.salmon-swatch{
   @include color-swatch;
   background-color: $salmon;
   color: $light-gray;
}
.orange-swatch{
   @include color-swatch;
   background-color: $orange;
   color: $dark-gray;
}
.yellow-swatch{
   @include color-swatch;
   background-color: $yellow;
   color: $dark-gray;
}
.green-swatch{
   @include color-swatch;
   background-color: $green;
   color: $dark-gray;
}
.teal-swatch{
   @include color-swatch;
   background-color: $teal;
   color: $light-gray;
}
.navy-swatch{
   @include color-swatch;
   background-color: $navy;
   color: $light-gray;
}
.brown-swatch{
   @include color-swatch;
   background-color: $brown;
   color: $light-gray;
}

li{
   display: inline-block;
   margin: .4em;
}


.icons > div{
   display: inline-block;
   padding: 1em;
}



// texture images
.texture > img{
   width: 14em;
}

button.more{
      width: 8.4em;
  }

button.like{
      width: 6em;
  }

img {
  width: em(300);
}



//typography colors

nav a{
   color: $navy;
}
nav a:hover{
   color: $green;
}

.expand-sass-code, .expand-jade-code{
   color: $green;
}

.forms ul li {
   display: block;
}

//to get the header to not overlap with the sass and jade code
#headz{
   margin-bottom: 6em;
}
