article
  h1(id="colors") Colors
  ul(class="swatches")
    li(class="magenta-swatch")
      code $magenta <br> #A61F5C
    li(class="salmon-swatch")
      code $salmon <br> #D6493B
    li(class="orange-swatch")
      code $orange <br> #DB943A
    li(class="yellow-swatch")
      code $yellow <br> #F2E94E
    li(class="green-swatch")
      code $green <br> #06BC5A
    li(class="teal-swatch")
      code $teal <br> #1A7172
    li(class="navy-swatch")
      code $navy <br> #1F2058
    li(class="brown-swatch")
      code $brown <br> #9d512f