article
  h1(id="footer") Footer
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      p INSERT BLOCK OF CODE HERE
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      p INSERT BLOCK OF CODE HERE