article
  h1(id="footer") Footer
  footer
    a(href="#" class="icon-facebook")
    a(href="#" class="icon-twitter")
    a(href="#" class="icon-github")
    a(href="#" class="icon-pinterest")
    p © 2014 Kernel, inc
    a(href="#") about
    a(href="#") logout
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-markup").
         footer
            a(href="#" class="icon-facebook")
            a(href="#" class="icon-twitter")
            a(href="#" class="icon-github")
            a(href="#" class="icon-pinterest")
            p © 2014 Kernel, inc
            a(href="#") about
            a(href="#") logout
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
         footer{
           background-image: url(/images/texture3.jpg);
           text-align: center;
           p{
              display: inline-block;
              padding-left: 6em;
              padding-right: 6em;
           }
           a{
              margin-left: 3em;
           }
           a:hover{
              color: $magenta;
           }
           .icon-facebook, .icon-twitter, .icon-github, .icon-pinterest{
              margin-left: .4em;
           }
           .icon-facebook:hover, .icon-twitter:hover, .icon-github:hover, .icon-pinterest:hover{
              color: $magenta;
           }
           border-top: 2px solid $orange;
           height: 6em;}