article
  h1(id="header") Header
  nav(class="kernel-nav" id="head")
      img(src="/images/kernelLogo2.jpg" alt="logo")
      div
         a(href="#") Home
         a(href="#") My Fonts
         a(href="#") Profile
         a(href="#") Logout
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-markup").
         nav(class="kernel-nav")
            img(src="/images/kernelLogo2.jpg" alt="logo")
            div
               a(href="#") Home
               a(href="#") My Fonts
               a(href="#") Profile
               a(href="#") Logout
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
         $logo-width: em(160);

         nav.kernel-nav{
            img{
               width: $logo-width;
               margin-left: 1.8em;
            }
            a{
               font-family: $header-font;
               font-weight: $header-font-weight;
               font-size: 3em;
               color: $orange;
               display: inline-block;
               margin-left: 1em;
               margin-bottom: .6em;
            }
            a:hover{
               color: $magenta;
            }
            a:active{
               color: $salmon;
            }
            div{
               margin-top: -9em;
               margin-left: $logo-width + 1;
            }
            border-bottom: 2px solid $orange;
         }