article
  h1(id="images") Images
  img(src="images/kern.png" alt="kern")
  img(src="images/i-heart-typography.jpg" alt="typography description")
  img(src="images/kerning.png" alt="kerning example")
  section(class="expanding")
    button(class="expand-code") See code
    div(class="code")
      div(class="jade-code")
        h3(class="expand-jade-code") Jade
        pre
          code(class="language-scss").
           img(src="images/kern.png" alt="kern")
           img(src="images/i-heart-typography.jpg" alt="typography description")
           img(src="mages/kerning.png" alt="kerning example")
      div(class="sass-code")
        h3(class="expand-sass-code") Sass
        pre
          code(class="language-scss").
            img {
              width: em(300);
            }