extends layout

block content
   nav(class="kernel-nav")
      img(src="/images/kernelLogo2.jpg" alt="logo")
      div
         a(href="#") Home
         a(href="#") My Fonts
         a(href="#") Profile
         a(href="#") Logout
   nav(class="sub-nav")
      a(href="#") Sans Serif
      a(href="#") Serif
      a(href="#") Script
      a(href="#") Slab
      a(href="#") Handwritten
