extends layout

block content
   nav(class="kernel-nav" id="headz")
      img(src="/images/kernelLogo.png" alt="logo")
      div
         a(href="#") Home
         a(href="#") My Fonts
         a(href="#") Profile
         a(href="#") Logout
   main
