doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/stylesheets/prism-default.css')
    script(src="http://code.jquery.com/jquery-2.1.0.min.js")
  body
    block content
    script(src="//localhost:35729/livereload.js")
    script(src="/javascript/prism.js")
    script(src="/javascript/style-guide.js")



