doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="Kernal Style Guide")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(rel='stylesheet', href='/stylesheets/style-guide.css')
    script(src="http://code.jquery.com/jquery-2.1.0.min.js")
  body
    block content
    script(src="//localhost:35729/livereload.js")
    script(src="/javascript/prism.js")
    script(src="/javascript/style-guide.js")