article
  h1(id="logos") Logos
  h2 Main Logo
  p This is the main logo. It should be used in the header of the pages.
  img(src="/images/kernelLogo2.jpg" alt="logo")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-scss") img(src="/images/kernelLogo2.jpg" alt="logo")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          img {
            width: em(300);
          }
  h2 Alternate Logos
  img(src="/images/kernelLogo3.jpg" alt="logo")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-scss") img(src="/images/kernelLogo3.jpg" alt="logo")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          img {
            width: em(300);
          }
  img(src="/images/kernelLogo1.jpg" alt="logo")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-scss") img(src="/images/kernelLogo1.jpg" alt="logo")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          img {
            width: em(300);
          }
  img(src="/images/kernelLogo4.jpg" alt="logo")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-scss") img(src="/images/kernelLogo4.jpg" alt="logo")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          img {
            width: em(300);
          }