extends layout

block content
  h1= title
  nav
    a(href="#" id="scroll-colors") Colors
    a(href="#" id="scroll-typography") Typography
    a(href="#" id="scroll-textures") Textures
    a(href="#" id="scroll") icons
  main
    article
      h1(id="colors") Colors
      p Lorem funky fresh da bomb for sure amizzle, funky fresh adipiscing elit. Nullam gangsta velizzle, fo shizzle volutpizzle, suscipizzle quizzle, fo shizzle vizzle, arcu. You son of a bizzle that's the shizzle ma nizzle. Shiz erizzle. Sheezy at dolizzle dapibus turpizzle tempus gangster. Maurizzle rizzle tellivizzle et turpis. Away check out this its fo rizzle. Pellentesque nizzle rhoncizzle the bizzle. We gonna chung hac gangsta platea dictumst. That's the shizzle dapibizzle. Crackalackin tellivizzle fizzle, pretizzle pimpin', mattizzle we gonna chung, eleifend vitae, nunc. suscipizzle. Integizzle semper velit sizzle gizzle.
      p Phasellizzle interdum volutpat tellizzle. Ut shizzle my nizzle crocodizzle adipiscing lorizzle. Donec non est. Things sapizzle fizzle, you son of a bizzle nizzle, accumsan i'm in the shizzle, fermentum quizzle, pede. Break it down . Etiam break it down ornare yo. Maurizzle justo. Vestibulizzle ut pede varius nibh crackalackin commodo. Lorem ipsum shut the shizzle up sizzle fo shizzle, consectetizzle adipiscing mah nizzle. Yippiyo ac its fo rizzle. Quisque tellivizzle sizzle, sodalizzle sure, sheezy ma nizzle, eleifend a, elizzle.
      p Dizzle we gonna chung dolor. Yo mamma magna rizzle, dignissizzle things amizzle, fringilla egizzle, sollicitudin nizzle, bow wow wow. Maecenizzle its fo rizzle nisi. Black dizzle sheezy izzle risizzle. Suspendisse bling bling. Shizzlin dizzle aliquet tristique turpizzle. Suspendisse cool ultrices pimpin'. Sed rizzle i'm in the shizzle, bow wow wow interdum, daahng dawg ut, dapibus et, sizzle. Suspendisse doggy tellizzle. Aenean aliquam shizzle my nizzle crocodizzle sit own yo' dolizzle. Fusce dapibus felizzle izzle own yo'. Daahng dawg ipsizzle mah nizzle sit amizzle, crackalackin adipiscing go to hizzle. Suspendisse massa purizzle, dizzle get down get down, ullamcorper izzle, consequat nizzle, yo. Nam izzle things nunc.
      p Shit yippiyo lorizzle, own yo' get down get down, condimentum eget, check it out id, dizzle. Pizzle sizzle i'm in the shizzle bizzle sizzle the bizzle mattis. Da bomb bizzle hizzle hizzle its fo rizzle commodo ullamcorpizzle. Etizzle phat fermentizzle ligula. Gangsta fo. Dang mah nizzle metizzle sheezy dolizzle auctizzle. Get down get down sagittizzle viverra urna. Curabitur sollicitudin bling bling quizzle bizzle. Morbi fo shizzle my nizzle ligula fo shizzle amizzle tellizzle. Nizzle crunk enizzle dizzle arcu. Yo mamma shiz natoque penatibizzle shut the shizzle up magnizzle fizzle parturient montes, nascetur yo we gonna chung
    article
      h1(id="Typography") Typography
      p We gonna chung black fo shizzle. Phasellizzle doggy, nulla eu vehicula crunk, velizzle erat pimpin' quam, vel elementum sapizzle gangster vel bling bling. Vivamus vestibulum laorizzle fo shizzle. Etizzle izzle tempor dope. Cras fo shizzle ornare leo. Daahng dawg urna , daahng dawg a, lacinia izzle, bow wow wow izzle, own yo'. Vivamizzle eleifend gangsta bling bling. Break yo neck, yall yippiyo gravida my shizz. Fusce ut tortizzle check it out hizzle funky fresh pulvinar. Morbi ass sodalizzle eros. Mammasay mammasa mamma oo sa pot, metus cool dizzle sollicitudizzle, nisl for sure daahng dawg urna, break yo neck, yall elementum velit purizzle izzle velizzle. Fizzle tristique enim boofron sem. Sizzle away ligula et dui euismod euismizzle. Shizzle my nizzle crocodizzle izzle sure. Nizzle velit. Suspendisse daahng dawg uhuh ... yih!.
      p Yo stuff pede et fo shizzle my nizzle. Cizzle doggy bling bling penatibus et yippiyo dizzle boom shackalack montes, nascetizzle ridiculus ghetto. Ut check out this fizzle, molestie shiz, mah nizzle izzle, sollicitudin nizzle, urna. Fo shizzle my nizzle crunk urna commodo my shizz. Yo sagittizzle. Nullam augue shizzlin dizzle, fringilla a, aliquizzle dope, condimentum at, ipsum. Ass imperdizzle, dang sit sheezy commodo gravida, dui yo mamma ornare enim, fo shizzle sheezy bow wow wow crackalackin scelerisque check out this. Pellentesque quizzle odio. Nam nonummy dolor fo shizzle mah nizzle fo rizzle, mah home g-dizzle shit. Yo bow wow wow.
    article
      h1(id="textures") Textures
      p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
      p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.


