extends layout

block content
  nav
    h1= title
    a(href="#" id="scroll-colors") Colors
    a(href="#" id="scroll-typography") Typography
    a(href="#" id="scroll-textures") Textures
    a(href="#" id="scroll-logos") Logos
    a(href="#" id="scroll-icons") Icons
    a(href="#" id="scroll-buttons") Buttons
    a(href="#" id="scroll-images") Images
    a(href="#" id="scroll-header") Header
    a(href="#" id="scroll-footer") Footer
    a(href="#" id="scroll-forms") Forms
  main
    include colors
    include typography
    include textures
    include logos
    include icons
    include buttons
    include images
    include header
    include footer
    include forms

