extends layout

block content
  nav
    h1= title
    a(href="#" id="scroll-colors") Colors
    a(href="#" id="scroll-typography") Typography
    a(href="#" id="scroll-textures") Textures
    a(href="#" id="scroll-logos") Logos
    a(href="#" id="scroll-icons") Icons
    a(href="#" id="scroll-buttons") Buttons
    a(href="#" id="scroll-images") Images
    a(href="#" id="scroll-header") Header
    a(href="#" id="scroll-footer") Footer
  main
    article
      h1(id="colors") Colors
      ul(class="swatches")
        li(class="magenta-swatch")
          code $magenta <br> #A61F5C
        li(class="salmon-swatch")
          code $salmon <br> #D6493B
        li(class="orange-swatch")
          code $orange <br> #DB943A
        li(class="yellow-swatch")
          code $yellow <br> #F2E94E
        li(class="green-swatch")
          code $green <br> #06BC5A
        li(class="teal-swatch")
          code $teal <br> #1A7172
        li(class="navy-swatch")
          code $navy <br> #1F2058
    article
      h1(id="typography") Typography
      h1 This is an h1 (Main Head)
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              h1 This is an h1 (Main Head)
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $header-font: "Raleway";
              $header-font-weight: 700;
              $header-font-size: 3em;

              h1 {
                 font-family: $header-font;
                 font-weight: $header-font-weight;
                 font-size: $header-font-size;
              }

      h2 This is an h2 (Subhead)
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-scss").
              h2 This is an h2 (Subhead)
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $subhead-font: "Roboto Slab";
              $subhead-font-weight: 700;

              h2 {
                 font-family: $subhead-font;
                 font-weight: $subhead-font-weight;
              }
      h3 This is an h3
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              h3 This is an h3
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $header-font: "Raleway";
              $subhead-font-weight: 700;

              h3, h4, h5, h6 {
                 font-family: $header-font;
                 font-weight: $subhead-font-weight;
              }
      h4 This is an h4
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              h4 This is an h4
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $header-font: "Raleway";
              $subhead-font-weight: 700;

              h3, h4, h5, h6 {
                 font-family: $header-font;
                 font-weight: $subhead-font-weight;
              }
      h5 This is an h5
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              h5 This is an h5
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $header-font: "Raleway";
              $subhead-font-weight: 700;

              h3, h4, h5, h6 {
                 font-family: $header-font;
                 font-weight: $subhead-font-weight;
              }
      h6 This is an h6
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              h6 This is an h6
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $header-font: "Raleway";
              $subhead-font-weight: 700;

              h3, h4, h5, h6 {
                 font-family: $header-font;
                 font-weight: $subhead-font-weight;
              }
      p This is a paragraph.  Bananas are good Dalekanium Reverse the polarity of the positron flow The Master The Doctor Rose Tyler Hello Sweetie. Would you like a jelly baby? You are better at dying Fantastic! Allons-y Hello, Captain Jack Harkness.  Bad Wolf I am a Dalek Rory the Roman you are not alone in the universe Cult of Skaro Amy Pond Reverse the polarity of the neutron flow Raxacoricofallapatorius Galifreyan Galifreyan The Silence is Coming!
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              p This is a paragraph.  Bananas are good Dalekanium Reverse the polarity of the positron flow
               The Master The Doctor Rose Tyler Hello Sweetie. Would you like a jelly baby? You are better at dying
               Fantastic! Allons-y Hello, Captain Jack Harkness.  Bad Wolf I am a Dalek Rory the Roman you are not alone
               in the universe Cult of Skaro Amy Pond Reverse the polarity of the neutron flow Raxacoricofallapatorius
               Galifreyan Galifreyan The Silence is Coming!
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $p-font: "Roboto Slab";
              $p-font-weight: 300;

              p {
                 font-family: $p-font;
                 font-weight: $p-font-weight;
              }
      a(href="#") This is a link
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          pre
            code(class="language-markup").
              a This is a link
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          pre
            code(class="language-scss").
              $p-font: "Roboto Slab";
              $a-font-weight: 500;
              $teal: #1A7172;

              a {
                 font-family: $p-font;
                 font-weight: $a-font-weight;
                 text-decoration: none;
                 color: $teal;
              }
    article
      h1(id="textures") Textures
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="logos") Logos
      img(src="../public/images/kernelLogo1.jpg" alt="logo")
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="icons") Icons
      span(class="icon-mail") Email
      span(class="icon-googleplus") Google Plus
      span(class="icon-facebook") Facebook
      span(class="icon-twitter") Twitter
      span(class="icon-feed") Feed
      span(class="icon-vimeo") Vimeo
      span(class="icon-flickr") Flickr
      span(class="icon-dribbble") Dribbble
      span(class="icon-github") Github
      span(class="icon-pinterest") Pinterest
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="buttons") Buttons
      div(class="default-buttons")
        h2 Default Buttons (salmon)
        button Default Button
        button(class="more") More Info
        button(class="like") Like
      div(class="secondary-buttons")
        h2 Secondary Buttons (green)
        button Default Button
        button(class="more") More Info
        button(class="like") Like
      div(class="dark-buttons")
        h2 Dark Buttons (navy)
        button Default Button
        button(class="more") More Info
        button(class="like") Like
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="images") Images
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="header") Header
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="footer") Footer
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE

