extends layout

block content
  nav
    h1= title
    a(href="#" id="scroll-colors") Colors
    a(href="#" id="scroll-typography") Typography
    a(href="#" id="scroll-textures") Textures
    a(href="#" id="scroll-logos") Logos
    a(href="#" id="scroll-icons") Icons
    a(href="#" id="scroll-buttons") Buttons
    a(href="#" id="scroll-images") Images
    a(href="#" id="scroll-header") Header
    a(href="#" id="scroll-footer") Footer
  main
    article
      h1(id="colors") Colors
      ul(class="swatches")
        li(class="red-swatch")
          code(class="no-style") $colors-red
          code #F1432A
        li(class="orange-swatch")
          code $colors-orange
          code #F4B864
        li(class="yellow-swatch")
          code $colors-yellow
          code #F2E94E
        li(class="green-swatch")
          code $colors-green
          code #06BC5A
        li(class="teal-swatch")
          code $colors-teal
          code #3EBFB9
    article
      h1(id="Typography") Typography
      h1 This is an h1 (Main Head)
      h2 This is an h2 (Subhead)
      h3 This is an h3
      h4 This is an h4
      h5 This is an h5
      h6 This is an h6
      p This is a paragraph.  Bananas are good Dalekanium Reverse the polarity of the positron flow The Master The Doctor Rose Tyler Hello Sweetie. Would you like a jelly baby? You are better at dying Fantastic! Allons-y Hello, Captain Jack Harkness.  Bad Wolf I am a Dalek Rory the Roman you are not alone in the universe Cult of Skaro Amy Pond Reverse the polarity of the neutron flow Raxacoricofallapatorius Galifreyan Galifreyan The Silence is Coming!
      a(href="#") This is a link
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="textures") Textures
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="logos") Logos
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="icons") Icons
      span(class="icon-mail")
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="buttons") Buttons
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="images") Images
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="header") Header
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE
    article
      h1(id="footer") Footer
      section(class="expanding")
        div(class="jade-code")
          h3(class="expand-jade-code") Jade
          p INSERT BLOCK OF CODE HERE
        div(class="sass-code")
          h3(class="expand-sass-code") Sass
          p INSERT BLOCK OF CODE HERE

