article(class="texture")
  h1(id="textures") Textures
  p These textures are to be used as background textures for the website.  The Sass code demonstrates using these textures for the background image of the "texture" id.
  img(src="/images/texture1.jpg" alt="texture1")
  img(src="/images/texture2.jpg" alt="texture2")
  img(src="/images/texture3.jpg" alt="texture3")
  section(class="expanding")
    button(class="expand-code") See Code
    div(class="code")
      div(class="jade-code")
        h3 Jade
        pre
          code(class="language-markup").
            img(src="/images/texture1.jpg" alt="texture1")
            img(src="/images/texture2.jpg" alt="texture2")
            img(src="/images/texture3.jpg" alt="texture3")
      div(class="sass-code")
        h3 Sass
        pre
          code(class="language-scss").
            #textures{
              background-image: url(../images/texture1.jpg);
            }
