article(class="texture")
  h1(id="textures") Textures
  p These textures are to be used as background textures for the website.  The Sass code demonstrates using these textures for the background image of the "texture" id.
  img(src="/images/texture1.jpg" alt="texture1")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-markup").
          img(src="/images/texture1.jpg" alt="texture1")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          #textures{
            background-image: url(../images/texture1.jpg);
          }
  img(src="/images/texture2.jpg" alt="texture2")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-markup").
          img(src="/images/texture2.jpg" alt="texture2")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          #textures{
            background-image: url(../images/texture2.jpg);
          }
  img(src="/images/texture1.jpg" alt="texture1")
  section(class="expanding")
    div(class="jade-code")
      h3(class="expand-jade-code") Jade
      pre
        code(class="language-markup").
          img(src="/images/texture3.jpg" alt="texture3")
    div(class="sass-code")
      h3(class="expand-sass-code") Sass
      pre
        code(class="language-scss").
          #textures{
            background-image: url(../images/texture3.jpg);
          }