@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+css-extras+clike+javascript+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"], pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"], pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: 0.7; }

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol {
  color: #905; }

.token.selector, .token.attr-name, .token.string, .token.builtin {
  color: #690; }

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule, .token.attr-value, .token.keyword {
  color: #07a; }

.token.regex, .token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }

h1 {
  color: #A61F5C; }

h2 {
  color: #1A7172; }

p {
  color: #1F2058; }

h3, h4, h5, h6 {
  color: #D6493B; }

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?1nkbuj');
  src: url('/icomoon.eot?#iefix1nkbuj') format('embedded-opentype'), url('/fonts/icomoon.woff?1nkbuj') format('woff'), url('/fonts/icomoon.ttf?1nkbuj') format('truetype'), url('/fonts/icomoon.svg?1nkbuj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

.icon-mail:before, .icon-googleplus:before, .icon-facebook:before, .icon-twitter:before, .icon-feed:before, .icon-vimeo:before, .icon-flickr:before, .icon-dribbble:before, .icon-github:before, .icon-pinterest:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-mail:before {
  content: '\e600'; }

.icon-googleplus:before {
  content: '\e601'; }

.icon-facebook:before {
  content: '\e602'; }

.icon-twitter:before {
  content: '\e603'; }

.icon-feed:before {
  content: '\e604'; }

.icon-vimeo:before {
  content: '\e605'; }

.icon-flickr:before {
  content: '\e606'; }

.icon-dribbble:before {
  content: '\e607'; }

.icon-github:before {
  content: '\e609'; }

.icon-pinterest:before {
  content: '\e60a'; }

code {
  font-family: "PT Mono"; }

h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 3em; }

h2 {
  font-family: "Roboto Slab";
  font-weight: 700; }

p {
  font-family: "Roboto Slab";
  font-weight: 300; }

a {
  font-family: "Roboto Slab";
  font-weight: 500;
  text-decoration: none;
  color: #06BC5A; }

a:hover {
  color: #DB943A; }

h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 700; }

.icon-mail, .icon-googleplus, .icon-facebook, .icon-twitter, .icon-feed, .icon-vimeo, .icon-flickr, .icon-dribbble, .icon-github, .icon-pinterest {
  font-size: 2em;
  color: #DB943A; }

button {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1em; }

button.default-buttons {
  cursor: pointer;
  position: relative;
  border: 0;
  width: 11em;
  margin: 1em;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #D6493B;
  color: white; }

button.default-buttons:hover {
  background-color: #a32d22; }

button.secondary-buttons {
  cursor: pointer;
  position: relative;
  border: 0;
  width: 11em;
  margin: 1em;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #06BC5A;
  color: black; }

button.secondary-buttons:hover {
  background-color: #05a34c; }

button.dark-buttons {
  cursor: pointer;
  position: relative;
  border: 0;
  width: 11em;
  margin: 1em;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #1F2058;
  color: white; }

button:hover.dark-buttons {
  background-color: #333691; }

button.more {
  width: 8.4em; }

button.like {
  width: 6em; }

.input_small {
  width: 12.5em; }

.input_medium {
  width: 18.75em; }

.input_large {
  width: 25em; }

.input_xlarge {
  width: 31.25em; }

.input_full-width {
  width: 100%; }

input {
  border: 3px solid #DB943A;
  border-radius: 2px;
  height: 3.125em;
  padding: 0 0.625em;
  background-color: #f2f2f2;
  font-size: 0.9375em; }
  input:focus {
    outline: 0;
    box-shadow: 0 0 2px #DB943A; }

form label {
  display: block;
  padding-bottom: 0.3125em;
  font-size: 0.9375em; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }
  fieldset legend {
    font-size: 1.875em; }

form ul {
  padding: 0; }

form li {
  margin: 2.5em 0; }

nav#headz {
  background-image: url(/images/texture3.jpg);
  border-bottom: 2px solid #DB943A; }
  nav#headz img {
    width: 10em;
    margin-left: 1.8em; }
  nav#headz a:hover {
    color: #A61F5C; }
  nav#headz a:active {
    color: #D6493B; }
  nav#headz a {
    font-family: "Raleway";
    font-weight: 700;
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 0.6em;
    color: #9d512f; }
  nav#headz div {
    margin-top: -8em;
    margin-left: 11em; }
  @media screen and (min-width: 60em) {
    nav#headz a {
      font-size: 2em; } }
  @media screen and (max-width: 59.9375em) {
    nav#headz a {
      font-size: 1.7em; } }
  @media screen and (max-width: 47.9375em) {
    nav#headz {
      margin-top: 1em; }
      nav#headz img {
        width: 6.25em;
        margin-left: 0.3em;
        padding: 0; }
      nav#headz a {
        font-size: 0.9em;
        margin-top: 4em; }
      nav#headz div {
        margin-top: -8em;
        margin-left: 7.25em; } }

nav.sub-nav {
  background-image: url(/images/texture2.jpg);
  margin-left: 1em; }
  @media screen and (min-width: 60em) {
    nav.sub-nav {
      border-right: 3px solid #DB943A;
      width: 30%; } }
  @media screen and (max-width: 59.9375em) {
    nav.sub-nav {
      border-right: 3px solid #DB943A;
      width: 37%; } }
  @media screen and (max-width: 47.9375em) {
    nav.sub-nav {
      border-bottom: 3px solid #DB943A;
      margin-top: 2em; } }
  nav.sub-nav a {
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 1.3em;
    color: #D6493B;
    display: block; }
    @media screen and (max-width: 47.9375em) {
      nav.sub-nav a {
        display: inline-block;
        padding: 0.4em;
        font-size: 0.9em; } }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(/images/texture3.jpg);
  text-align: center;
  width: 100%;
  border-top: 2px solid #DB943A;
  height: 6em; }
  footer a {
    margin-left: 3em; }
    footer a:first-child {
      margin-left: 0; }
  footer a:hover {
    color: #A61F5C; }
  footer .icon-facebook, footer .icon-twitter, footer .icon-github, footer .icon-pinterest {
    margin-left: 0.4em; }
  footer .icon-facebook:hover, footer .icon-twitter:hover, footer .icon-github:hover, footer .icon-pinterest:hover {
    color: #A61F5C; }
  @media screen and (max-width: 47.9375em) {
    footer {
      flex-direction: column;
      height: 10em; }
      footer a {
        margin-left: 1em; } }

/*# sourceMappingURL=application.css.map */